body
{
background-size:cover;
}

.heading
{
    font-size:25px;
    width:100%;
    margin:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.note
{
    text-align: center;
    color:black;
    font-size: 10px;
}

.play_button
{
  font-size:15px;
  width:130px;
}

canvas
{
    border: 5px solid cyan;
    border-radius:20px;
}

